<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>


      </header>
      <section>

      {{ content }}

      </section>

    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <div id="tracker">
<!--       <a href="<a href="https://clustrmaps.com/site/1a417" title="Visit tracker">
        <img src="http://www.clustrmaps.com/map_v2.js?d=-Pnknrh6R_fbdVF5UuI1NAZ1zcvPpjtch8CrZpH88Dk&cl=ffffff&w=a">
      </a> -->
      <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=-Pnknrh6R_fbdVF5UuI1NAZ1zcvPpjtch8CrZpH88Dk&cl=ffffff&w=a"></script>
    </div>
  </body>
</html>
